.Footer {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding: 20px;
	width: 1360px;
	height: 100px;
	background-color: white;
	border-top: 1px solid #f6f6f6;
	text-align: center;
	grid-row-gap: 6px;
}
.Footer p {
	font-size: 14px;
	font-family: 'Inter';
	color: rgba(0,0,0,.369);
	line-height: 22px;
}
.Footer-info p {
	font-size: 14px;
	font-family: 'Inter';
	color: rgba(0,0,0,.369);
	line-height: 21px;
}
.Footer-href {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	grid-column-gap: 8px;
}
.Footer-href img {
	width: 18px;
	height: 18px;
}
.Footer-href a {
	font-family: 'Inter';
	font-size: 14px;
	color: rgba(0,0,0,.6);
	text-decoration:underline;
}
.Footer #footer-react-logo {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	grid-column-gap: 5px;
}
.Footer #footer-react-logo img {
	width: 16px;
	height: 16px;
}
.Footer #footer-react-logo p {
	font-family: 'Inter';
	font-size: 14px;
	color: rgba(0,0,0,.369);
}
@media (max-width: 1500px) {
  .Footer {
		width: 1260px;
	}
}
@media (max-width: 1350px) {
	.Footer {
		width: 1060px;
	}
}
@media (max-width: 1150px) {
	.Footer {
		width: 860px;
	}
}
@media (max-width: 950px) {
	.Footer {
		width: 710px;
	}
}
@media (max-width: 850px) {
	.Footer {
		width: 560px;
		height: 90px;
		grid-row-gap: 4px;
	}
	.Footer p {
		font-size: 12px;
	}
	.Footer-href a {
		font-size: 12px
	}
	.Footer img {
		width: 15px;
		height: 15px;
	}
	.Footer #footer-react-logo img {
		width: 14px;
		height: 14px;
	}
	.Footer #footer-react-logo p {
		font-size: 12px;
	}
}
@media (max-width: 650px) {
	.Footer {
		width: 400px;
		height: 65px;
		grid-row-gap: 0;
		padding: 10px 0;
	}
	.Footer p {
		font-size: 8px;
		line-height: 16px;
	}
	.Footer-href a {
		font-size: 8px;
		line-height: 16px;
	}
	.Footer img {
		width: 13px;
		height: 13px;
	}
	.Footer #footer-react-logo img {
		width: 12px;
		height: 12px;
	}
	.Footer #footer-react-logo p {
		font-size: 8px;
		line-height: 16px;
	}
}
@media (max-width: 425px) {
	.Footer {
		width: 300px;
		height: 65px;
		grid-row-gap: 0;
		padding: 10px 0;
	}
	.Footer p {
		font-size: 6px;
	}
	.Footer-href a {
		font-size: 6px
	}
	.Footer img {
		width: 13px;
		height: 13px;
	}
	.Footer #footer-react-logo img {
		width: 12px;
		height: 12px;
	}
	.Footer #footer-react-logo p {
		font-size: 6px;
	}
}